Source: cinder
Section: net
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Chuck Short <zulcss@ubuntu.com>
Build-Depends:
 apache2-dev,
 debhelper (>= 10~),
 dh-apache2,
 dh-python,
 openstack-pkg-tools,
 python3-all,
 python3-pbr (>= 5.4.1),
 python3-setuptools,
 python3-sphinx (>= 2.0.0),
 python3-tabulate (>= 0.8.5),
Build-Depends-Indep:
 python3-barbicanclient (>= 4.9.0),
 python3-castellan (>= 1.3.0),
 python3-coverage (>= 4.1),
 python3-cryptography (>= 2.1.4),
 python3-cursive (>= 0.2.1),
 python3-ddt (>= 1.2.1),
 python3-decorator (>= 4.1.0),
 python3-doc8 (>= 0.6.0),
 python3-eventlet (>= 0.26.0),
 python3-fixtures (>= 3.0.0),
 python3-glanceclient (>= 1:2.15.0),
 python3-googleapi (>= 1.4.2),
 python3-greenlet (>= 0.4.15),
 python3-hacking (>= 1.1.0),
 python3-httplib2 (>= 0.9.1),
 python3-iso8601 (>= 0.1.12),
 python3-jsonschema (>= 3.2.0),
 python3-keystoneauth1 (>= 3.14.0),
 python3-keystoneclient (>= 1:3.15.0),
 python3-keystonemiddleware (>= 4.21.0),
 python3-lxml (>= 4.2.0),
 python3-migrate (>= 0.13.0),
 python3-mock (>= 2.0.0),
 python3-novaclient (>= 2:9.1.0),
 python3-oauth2client (>= 1.5.0),
 python3-openstackdocstheme (>= 2.2.1),
 python3-os-api-ref (>= 1.5.0),
 python3-os-brick (>= 4.0.1),
 python3-os-win (>= 4.2.0),
 python3-oslo.concurrency (>= 3.26.0),
 python3-oslo.config (>= 1:6.11.0),
 python3-oslo.context (>= 1:2.23.0),
 python3-oslo.db (>= 6.0.0),
 python3-oslo.i18n (>= 3.24.0),
 python3-oslo.log (>= 3.44.0),
 python3-oslo.messaging (>= 6.4.0),
 python3-oslo.middleware (>= 3.31.0),
 python3-oslo.policy (>= 1.44.1),
 python3-oslo.privsep (>= 2.3.0),
 python3-oslo.reports (>= 1.18.0),
 python3-oslo.rootwrap (>= 5.8.0),
 python3-oslo.serialization (>= 2.25.0),
 python3-oslo.service (>= 2.0.0),
 python3-oslo.upgradecheck (>= 0.1.0),
 python3-oslo.utils (>= 3.40.2),
 python3-oslo.versionedobjects (>= 1.31.2),
 python3-oslo.vmware (>= 2.35.0),
 python3-oslotest (>= 1:3.2.0),
 python3-osprofiler (>= 1.4.0),
 python3-paramiko (>= 2.7.1),
 python3-paste (>= 2.0.2),
 python3-pastedeploy (>= 1.5.0),
 python3-pep8,
 python3-prettytable (>= 0.7.1),
 python3-psutil (>= 3.2.2),
 python3-psycopg2 (>= 2.8),
 python3-pymysql (>= 0.8.0),
 python3-pyparsing (>= 2.2.1),
 python3-requests (>= 2.18.0),
 python3-retrying (>= 1.2.3),
 python3-routes (>= 2.3.1),
 python3-rtslib-fb (>= 2.1.65),
 python3-six (>= 1.11.0),
 python3-sphinx-feature-classification (>= 0.1.0),
 python3-sphinxcontrib.apidoc (>= 0.2.0),
 python3-sqlalchemy (>= 1.3.0),
 python3-sqlalchemy-utils (>= 0.36.1),
 python3-stestr (>= 2.2.0),
 python3-stevedore (>= 1:1.31.0),
 python3-suds (>= 0.6),
 python3-swiftclient (>= 1:3.2.0),
 python3-taskflow (>= 3.8.0),
 python3-tempest (>= 1:17.1.0),
 python3-tenacity (>= 6.1.0),
 python3-testrepository (>= 0.0.18),
 python3-testresources (>= 2.0.0),
 python3-testscenarios (>= 0.4),
 python3-testtools (>= 2.4.0),
 python3-tooz (>= 1.58.0),
 python3-tz (>= 2015.7),
 python3-webob (>= 1:1.7.1),
 python3-zstd (>= 1.4.5.0),
Standards-Version: 4.1.4
Homepage: https://launchpad.net/cinder
Vcs-Browser: https://git.launchpad.net/~ubuntu-openstack-dev/ubuntu/+source/cinder
Vcs-Git: https://git.launchpad.net/~ubuntu-openstack-dev/ubuntu/+source/cinder
Testsuite: autopkgtest-pkg-python

Package: cinder-api
Architecture: all
Depends:
 apache2 | httpd,
 libapache2-mod-wsgi-py3,
 python3-cinder (= ${binary:Version}),
 ${misc:Depends},
Description: Cinder storage service - API server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder API server.

Package: cinder-backup
Architecture: all
Depends:
 python3-cinder (= ${binary:Version}),
 ${misc:Depends},
Description: Cinder storage service - Scheduler server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder backup service.

Package: cinder-common
Architecture: all
Depends:
 adduser,
 ${misc:Depends},
Recommends:
 ${misc:Recommends},
Description: Cinder storage service - common files
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains commons components for Cinder.

Package: cinder-scheduler
Architecture: all
Depends:
 python3-cinder (= ${binary:Version}),
 ${misc:Depends},
Description: Cinder storage service - Scheduler server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder Scheduler server.

Package: cinder-volume
Architecture: all
Depends:
 lvm2,
 python3-cinder (= ${binary:Version}),
 qemu-utils,
 tgt,
 ${misc:Depends},
Description: Cinder storage service - Volume server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder Volume server.

Package: python3-cinder
Section: python
Architecture: all
Depends:
 cinder-common (= ${binary:Version}),
 python3-barbicanclient (>= 4.9.0),
 python3-castellan (>= 1.3.0),
 python3-cryptography (>= 2.1.4),
 python3-cursive (>= 0.2.1),
 python3-decorator (>= 4.1.0),
 python3-eventlet (>= 0.26.0),
 python3-glanceclient (>= 1:2.15.0),
 python3-greenlet (>= 0.4.15),
 python3-httplib2 (>= 0.9.1),
 python3-iso8601 (>= 0.1.12),
 python3-jsonschema (>= 3.2.0),
 python3-keystoneauth1 (>= 3.14.0),
 python3-keystoneclient (>= 1:3.15.0),
 python3-keystonemiddleware (>= 4.21.0),
 python3-lxml (>= 4.2.0),
 python3-migrate (>= 0.13.0),
 python3-novaclient (>= 2:9.1.0),
 python3-os-brick (>= 4.0.1),
 python3-os-win (>= 4.2.0),
 python3-oslo.concurrency (>= 3.26.0),
 python3-oslo.config (>= 1:6.11.0),
 python3-oslo.context (>= 1:2.23.0),
 python3-oslo.db (>= 6.0.0),
 python3-oslo.i18n (>= 3.24.0),
 python3-oslo.log (>= 3.44.0),
 python3-oslo.messaging (>= 6.4.0),
 python3-oslo.middleware (>= 3.31.0),
 python3-oslo.policy (>= 1.44.1),
 python3-oslo.privsep (>= 2.3.0),
 python3-oslo.reports (>= 1.18.0),
 python3-oslo.rootwrap (>= 5.8.0),
 python3-oslo.serialization (>= 2.25.0),
 python3-oslo.service (>= 2.0.0),
 python3-oslo.upgradecheck (>= 0.1.0),
 python3-oslo.utils (>= 3.40.2),
 python3-oslo.versionedobjects (>= 1.31.2),
 python3-oslo.vmware (>= 2.35.0),
 python3-osprofiler (>= 1.4.0),
 python3-paramiko (>= 2.7.1),
 python3-paste (>= 2.0.2),
 python3-pastedeploy (>= 1.5.0),
 python3-pbr (>= 5.4.1),
 python3-prettytable (>= 0.7.1),
 python3-psutil (>= 3.2.2),
 python3-pyparsing (>= 2.2.1),
 python3-requests (>= 2.18.0),
 python3-retrying (>= 1.2.3),
 python3-routes (>= 2.3.1),
 python3-six (>= 1.11.0),
 python3-sqlalchemy (>= 1.3.0),
 python3-stevedore (>= 1:1.31.0),
 python3-suds (>= 0.6),
 python3-swiftclient (>= 1:3.2.0),
 python3-tabulate (>= 0.8.5),
 python3-taskflow (>= 3.8.0),
 python3-tenacity (>= 6.1.0),
 python3-tooz (>= 1.58.0),
 python3-tz (>= 2015.7),
 python3-webob (>= 1:1.7.1),
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 python3-googleapi (>= 1.4.2),
 python3-hp3parclient,
 python3-oauth2client (>= 1.5.0),
 python3-rados,
 python3-rbd,
 python3-rtslib-fb (>= 2.1.65),
 python3-zstd (>= 1.4.5.0),
Description: Cinder Python 3 libraries
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Python 3 library for Cinder.
