Source: cinder
Section: net
Priority: extra
Maintainer: Chuck Short <zulcss@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0), python-all (>= 2.6)
Build-Depends-Indep:
 pep8,
 python-amqplib,
 python-anyjson,
 python-cheetah,
 python-coverage,
 python-eventlet,
 python-glanceclient,
 python-greenlet,
 python-hp3parclient (>= 1.0.0),
 python-iso8601,
 python-keystoneclient,
 python-kombu,
 python-lockfile,
 python-lxml,
 python-migrate,
 python-mock,
 python-mox,
 python-mysqldb,
 python-nose,
 python-oslo.config,
 python-paramiko,
 python-paste,
 python-pastedeploy,
 python-routes,
 python-swiftclient,
 python-setuptools,
 python-setuptools-git,
 python-sphinx,
 python-sqlalchemy,
 python-stevedore (>= 0.8),
 python-suds,
 python-webob
Standards-Version: 3.9.3
Homepage: http://launchpad.net/cinder

Package: python-cinder
Section: python
Architecture: all
Depends:
 python-amqplib,
 python-anyjson,
 python-eventlet,
 python-glance,
 python-glanceclient,
 python-keystoneclient,
 python-oslo.config,
 python-greenlet,
 python-iso8601,
 python-kombu,
 python-lockfile,
 python-lxml,
 python-migrate,
 python-paramiko,
 python-paste,
 python-pastedeploy,
 python-routes,
 python-stevedore (>= 0.8),
 python-swiftclient,
 python-sqlalchemy,
 python-suds,
 python-webob,
 ${misc:Depends},
 ${python:Depends}
Suggests: python-hp3parclient
Description: Cinder Python libraries
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Python library for Cinder.

Package: cinder-common
Architecture: all
Depends:
 adduser,
 python-cinder (= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends}
Provides: ${python:Provides}
Description: Cinder storage service - common files
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains commons components for Cinder.

Package: cinder-api
Architecture: all
Depends: cinder-common (= ${binary:Version}), ${misc:Depends}, ${python:Depends}
Description: Cinder storage service - API server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder API server.

Package: cinder-volume
Architecture: all
Depends:
 cinder-common (= ${binary:Version}),
 lvm2,
 tgt,
 ${misc:Depends},
 ${python:Depends}
Suggests: ceph-common
Breaks: cinder-common ( <= 2012.2~rc1~20120907.1154-0ubuntu1 )
Replaces: cinder-common ( <= 2012.2~rc1~20120907.1154-0ubuntu1 )
Description: Cinder storage service - Volume server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder Volume server.

Package: cinder-scheduler
Architecture: all
Depends: cinder-common (= ${binary:Version}), ${misc:Depends}, ${python:Depends}
Description: Cinder storage service - Scheduler server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder Scheduler server.

Package: cinder-backup
Architecture: all
Depends: cinder-common (= ${binary:Version}), ${misc:Depends}, ${python:Depends}
Description: Cinder storage service - Scheduler server
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 Cinder is the OpenStack Block storage service.
 .
 This package contains the Cinder backup service.
